
.card {
	// TODO use .shadow on card element instead of adding here
	box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
	transition: box-shadow 0.2s ease-in-out;

	.card-footer {
		border-color: $gray-200;
		border-top-width: 1px;
		background-color: #fff;
		font-size: 0.9rem;
	}
}


.card-link {
	color: $gray-900;

	&:hover {
		box-shadow: 8px 14px 60px rgba(39,44,49,.06), 1px 3px 20px rgba(39,44,49,.03);
	}
}
