
// Color system

$primary: #460d8d;
$primary-light: #6954F7;
$primary-lighter: transparentize($primary, 0.93);

$theme-colors: (
    "primary-light": $primary-light,
    "primary-lighter": $primary-lighter
);


// Spacing

$spacers: (
    6: 4rem
);


// Body

$body-bg: #f4f8fb;


// Typography

$font-weight-base: 300;
$headings-font-weight: 700;
$text-muted: #738a94;

// Buttons

$btn-font-size:               14px;
$btn-font-weight:             500;
$btn-padding-x:               1rem;
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$btn-font-size-sm:            0.8rem;

$btn-font-size-lg:            1rem;


// Navbar

$navbar-padding-y: 0.25rem;


// Cards

$card-border-width:                 0;


// Image thumbnails

$thumbnail-padding: .1rem;
$thumbnail-border-width: 0;
$thumbnail-box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);

